<%- include ('partials/header.ejs')%>
<body>
  <%- include ('partials/navbar.ejs')%>
  <div id="container">
    <h3 id="label-perguntar">Clique aqui para perguntar</h3>
    <a href="/perguntar">
      <button type="button" class="btn btn-secondary">
       Perguntar
      </button>
    </a>
  </div>
</body>
<%- include ('partials/footer.ejs')%>